<%= simple_form_for @workout do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :intensity %>
    <%= f.input :weekday %>
    <%= f.input :workout_log %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
