<%= simple_form_for @workout do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= f.input :title %>
  <%= f.input :focus %>
  <%= f.input :intensity %>
  <%= f.input :weekday %>
  </div>

  <div class="form-actions">
  <%= f.button :submit %>
  </div>
<% end %>
