<% provide(:title, 'All workouts') %>
<h1>All workouts</h1>

<%= will_paginate @workouts %>

<ul class="workouts">
  <% @workouts.each do |workout| %>
    <li>
      <%= link_to workout.title, workout %>
      <li>focus: <%= workout.focus %></li>
      <li>intensity: <%= workout.intensity %></li>
    </li></br>
  <% end %>
</ul>

<%= will_paginate @workouts %>

<%= button_to 'New workout', new_workout_path, method: 'get' %>
